<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<hr>

<form action="/insert_bookmark" method="post">
  <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">
  <select name="query_movie_id" id="movie_id_box">
    <% @list_of_movies.each do |a_movie| %>
      <option value="<%=a_movie.id%>">
        <%=a_movie.title%>
      </option>
    <% end %>
  </select>
  <button>
    Bookmark this movie!
  </button>
</form>

<hr>
<div>
  <div>
    <table class="table" border="1">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
        <td>
          <% the_movie = Movie.where({ :id => a_bookmark.movie_id }).at(0) %>
          <%= the_movie.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
